                <!-- ===== Awards Start ===== -->
                <section class="awards-sec experience2-sec sticky-elem-sec">
                    <div class="custom-row">
                        <div class="left">
                            <h3 class="sticky-statement3">AWARDS</h3>
                        </div>

                        <div class="right">
                            <div class="experience2-lists">

                                <div class="experience2-box awards-box">
                                    <div class="experience2-box-header">
                                        CSS DESIGN AWARD
                                    </div>
                                    <div class="experience2-box-body">
                                        <h4>MAKINTO PORTFOLIO <span>2024</span></h4>
                                        <p>This portfolio won a award for its unique classic makintosh style theme it is
                                            one of the digital portfolio.</p>
                                    </div>
                                </div>

                                <div class="experience2-box awards-box">
                                    <div class="experience2-box-header">
                                        AWWWARDS
                                    </div>
                                    <div class="experience2-box-body">
                                        <h4>ARNO RED THEMED PORTFOLIO <span>2023</span></h4>
                                        <p>Arno is a personal portfolio built by WEBFLOW and it is very futuristic
                                            horizontal scrolling portfolio have its different character.</p>
                                    </div>
                                </div>


                                <div class="experience2-box awards-box">
                                    <div class="experience2-box-header">
                                        WEBFLOW
                                    </div>
                                    <div class="experience2-box-body">
                                        <h4>AUDEMARS PIGUET <span>2023</span></h4>
                                        <p>I built a site for one of the world class watch brand it is featured in
                                            WEBFLOW awards and won a minimal style award.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ===== Awards End ===== -->