                <!-- ===== Experience Start ===== -->
                <section class="experience-sec">
                    <div class="section-header">
                        <div class="left">
                            <h3>
                                <span><span class="timeline-anim scroll-animation" data-animation="slide_down">MY</span></span>
                                <span><span class="timeline-anim scroll-animation" data-animation="slide_down">EXPERTISE</span></span>
                            </h3>
                        </div>
                    </div>

                    <!-- ==== Experience lists ==== -->
                    <div class="experience-list-wrap">
                        <div class="experience-lists">
                            <div class="experience-box">
                                <div class="experience-button-box">
                                    <a href="#" class="experience-button">
                                        <svg width="18px" height="18px" stroke-width="1.5" viewBox="0 0 24 24"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            color="rgba(214, 214, 215, 0.7)">
                                            <path d="M6 12h6m6 0h-6m0 0V6m0 6v6" stroke="currentColor"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                                <h4>
                                    <span>(1)</span>
                                    <span>APP DESIGN</span>
                                </h4>
                                <p>Craft intuitive navigation that makes features accessible. Choose layouts and
                                    graphics that fit your app's personality.</p>
                            </div>
                            <div class="experience-box">
                                <div class="experience-button-box">
                                    <a href="#" class="experience-button">
                                        <svg width="18px" height="18px" stroke-width="1.5" viewBox="0 0 24 24"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            color="rgba(214, 214, 215, 0.7)">
                                            <path d="M6 12h6m6 0h-6m0 0V6m0 6v6" stroke="currentColor"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                                <h4>
                                    <span>(2)</span>
                                    <span>WEB DESIGN</span>
                                </h4>
                                <p>Polish animations and microinteractions that add delight. Every detail matters when
                                    sculpting an web.</p>
                            </div>
                            <div class="experience-box">
                                <div class="experience-button-box">
                                    <a href="#" class="experience-button">
                                        <svg width="18px" height="18px" stroke-width="1.5" viewBox="0 0 24 24"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            color="rgba(214, 214, 215, 0.7)">
                                            <path d="M6 12h6m6 0h-6m0 0V6m0 6v6" stroke="currentColor"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                                <h4>
                                    <span>(3)</span>
                                    <span>3D RENDERING</span>
                                </h4>
                                <p>The process involves building virtual 3D models and materials, setting lighting, and
                                    then rendering the final images.</p>
                            </div>
                        </div>

                        <div class="experience-lists2">
                            <div class="experience-box">
                                <div class="experience-button-box">
                                    <a href="#" class="experience-button">
                                        <svg width="18px" height="18px" stroke-width="1.5" viewBox="0 0 24 24"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            color="rgba(214, 214, 215, 0.7)">
                                            <path d="M6 12h6m6 0h-6m0 0V6m0 6v6" stroke="currentColor"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                                <h4>
                                    <span>(4)</span>
                                    <span>PHOTOGRAPHY <span class="pro">PRO</span></span>
                                </h4>
                                <p>With the click of a shutter, an image is imprinted that tells a story or makes a
                                    statement. an image is imprinted that tells a story or makes a statement.</p>
                            </div>
                            <div class="experience-box">
                                <div class="experience-button-box">
                                    <a href="#" class="experience-button">
                                        <svg width="18px" height="18px" stroke-width="1.5" viewBox="0 0 24 24"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            color="rgba(214, 214, 215, 0.7)">
                                            <path d="M6 12h6m6 0h-6m0 0V6m0 6v6" stroke="currentColor"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                                <h4>
                                    <span>(5)</span>
                                    <span>MOTION GRAPHICS</span>
                                </h4>
                                <p>The interplay between graphic elements, typography and movement opens up a world of
                                    creative possibilities. typography and movement.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ===== Experience End ===== -->


                <!-- ===== Experience2 Start ===== -->
                <section class="experience2-sec sticky-elem-sec">
                    <div class="custom-row">
                        <div class="left">
                            <h3 class="sticky-statement">EXPERIENCE</h3>
                        </div>

                        <div class="right">
                            <div class="experience2-lists">

                                <div class="experience2-box">
                                    <div class="experience2-box-header">
                                        CLAVMEN STUDIO
                                    </div>
                                    <div class="experience2-box-body">
                                        <h4>SENIOR UX DESIGNER <span>2022 - PRESENT</span></h4>
                                        <p>Clavmen inspires creativity and makes learning piano fun. The sleek,
                                            lightweight body fits easily into gig bags for portability.</p>
                                    </div>
                                </div>

                                <div class="experience2-box">
                                    <div class="experience2-box-header">
                                        LOSIFY
                                    </div>
                                    <div class="experience2-box-body">
                                        <h4>LEAD PRODUCT DESIGNER <span>2013 – 2022</span></h4>
                                        <p>Fitness and well-being with personalized coaching and innovative wellness
                                            solutions.</p>
                                    </div>
                                </div>


                                <div class="experience2-box">
                                    <div class="experience2-box-header">
                                        GAMADIAS
                                    </div>
                                    <div class="experience2-box-body">
                                        <h4>JUNIOR UX DESIGNER <span>2012 – 2013</span></h4>
                                        <p>Gaming Experiences with Innovative Technology and Unparalleled Performance.
                                        </p>
                                    </div>
                                </div>

                                <div class="experience2-box">
                                    <div class="experience2-box-header">
                                        FREELANCE
                                    </div>
                                    <div class="experience2-box-body">
                                        <h4>WEB DESIGNER <span>2010 – 2012</span></h4>
                                        <p>Bringing creativity, technical expertise, and a passion for design to every
                                            project.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- ===== Experience2 End ===== -->