                <!-- ===== Partner Start ===== -->
                <div class="partner-sec">
                    <ul>
                        <li>
                            <a href="#" class="partner-box">
                                <div class="partner-box-inner">
                                    <img src="https://luzine.ma/file/2016/11/luzine-logo-mini.png" alt="Partner">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="partner-box">
                                <div class="partner-box-inner">
                                    <img src="https://luzine.ma/file/2016/11/luzine-logo-mini.png" alt="Partner">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- ===== Partner End ===== -->