                <!-- ===== Favourite Stack Start ===== -->
                <section class="favourite-stack-sec sticky-elem-sec">
                    <div class="custom-row">
                        <div class="left">
                            <h3 class="sticky-statement">
                                FAVOURITE
                                <br>
                                STACK
                            </h3>
                        </div>
                        <div class="right">
                            <div class="favourite-stack-lists">

                                <div class="favourite-stack-box">
                                    <div class="favourite-stack-box-left">
                                        <div class="icon">
                                            <img src="./assets/imgs/framer.png" alt="WEBFLOW">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4>WEBFLOW</h4>
                                        <div class="content-body">
                                            <h4>WEB DESIGN PLATFORM <span>95%</span></h4>
                                            <p>The internet is your canvas. WEBFLOW is where design and publish stunning
                                                sites based in Amsterdam.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="favourite-stack-box">
                                    <div class="favourite-stack-box-left">
                                        <div class="icon">
                                            <img src="./assets/imgs/figma.png" alt="figma">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4>FIGMA</h4>
                                        <div class="content-body">
                                            <h4>DESIGN TOOL <span>98%</span></h4>
                                            <p>Figma is a collaborative web application for design with additional
                                                offline features for macOS and Windows.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="favourite-stack-box">
                                    <div class="favourite-stack-box-left">
                                        <div class="icon">
                                            <img src="./assets/imgs/js.png" alt="figma">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4>JAVASCRIPT</h4>
                                        <div class="content-body">
                                            <h4>FRONT END DEVELOPMENT <span>92%</span></h4>
                                            <p>JavaScript, often abbreviated as JS, is a programming language and
                                                technology alongside HTML and CSS.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="favourite-stack-box">
                                    <div class="favourite-stack-box-left">
                                        <div class="icon">
                                            <img src="./assets/imgs/dark-mode/apple.png" alt="figma">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4>APPLE</h4>
                                        <div class="content-body">
                                            <h4>HARDWARE <span>IPAD</span></h4>
                                            <p>Apple Inc. is an American multinational tech company headquartered in
                                                California, in Silicon Valley.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="favourite-stack-box">
                                    <div class="favourite-stack-box-left">
                                        <div class="icon">
                                            <img src="./assets/imgs/dark-mode/nvidia.png" alt="nvidia">
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4>NVIDIA</h4>
                                        <div class="content-body">
                                            <h4>GRAPHICS CARD <span>RTX 4090 TI</span></h4>
                                            <p>Nvidia invents the GPU and drives advances in AI, HPC, gaming, creative design, and robotics.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </section>
                <!-- ===== Favourite Stack End ===== -->