                <!-- ===== Testimonial Start ===== -->
                <section class="testimonial-sec">
                    <div class="section-header3">
                        <h3 class="title">
                            <span>TRUSTED BY</span>
                            <span>INTERNATIONAL BRANDS</span>
                        </h3>
                    </div>

                    <div class="testimonial-list-wrap">

                        <ul class="testimonial-anim-boxes">
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-1.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>Rick O'connell</h4>
                                            <h5>Gameplay Programmer, Microsoft</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-7.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"I was amazed by how intuitive and user-friendly everything felt. It's clear
                                        their designers obsess over every pixel, every transition, to create experiences
                                        that delight"</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-2.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>EDDIE BROCK</h4>
                                            <h5>Design Manager, HBO</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-5.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"I HIRED MECHEALE TO REDESIGN MY COMPANY'S WEBSITE. THE PROCESS WAS SMOOTH AND
                                        EASY. THEY LISTENED TO ALL MY NEEDS AND DELIVERED A SITE THAT EXCEEDED MY
                                        EXPECTATIONS"</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-3.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>ANNE WEYING</h4>
                                            <h5>Cloud Sales Executive, AMD</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-6.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"WITH MIKE USER-FRIENDLY CRM, OUR SALES TEAM CAN NOW WORK SMARTER, NOT HARDER.
                                        DEAL TRACKING, REPORTS, FORECASTING - IT'S ALL AUTOMATED AND ACCESSIBLE IN ONE
                                        PLACE."</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-1.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>Rick O'connell</h4>
                                            <h5>Gameplay Programmer, Microsoft</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-7.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"I was amazed by how intuitive and user-friendly everything felt. It's clear
                                        their designers obsess over every pixel, every transition, to create experiences
                                        that delight"</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-2.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>EDDIE BROCK</h4>
                                            <h5>Design Manager, HBO</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-5.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"I HIRED MECHEALE TO REDESIGN MY COMPANY'S WEBSITE. THE PROCESS WAS SMOOTH AND
                                        EASY. THEY LISTENED TO ALL MY NEEDS AND DELIVERED A SITE THAT EXCEEDED MY
                                        EXPECTATIONS"</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-3.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>ANNE WEYING</h4>
                                            <h5>Cloud Sales Executive, AMD</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-6.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"WITH MIKE USER-FRIENDLY CRM, OUR SALES TEAM CAN NOW WORK SMARTER, NOT HARDER.
                                        DEAL TRACKING, REPORTS, FORECASTING - IT'S ALL AUTOMATED AND ACCESSIBLE IN ONE
                                        PLACE."</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-1.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>Rick O'connell</h4>
                                            <h5>Gameplay Programmer, Microsoft</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-7.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"I was amazed by how intuitive and user-friendly everything felt. It's clear
                                        their designers obsess over every pixel, every transition, to create experiences
                                        that delight"</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-2.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>EDDIE BROCK</h4>
                                            <h5>Design Manager, HBO</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-5.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"I HIRED MECHEALE TO REDESIGN MY COMPANY'S WEBSITE. THE PROCESS WAS SMOOTH AND
                                        EASY. THEY LISTENED TO ALL MY NEEDS AND DELIVERED A SITE THAT EXCEEDED MY
                                        EXPECTATIONS"</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-3.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>ANNE WEYING</h4>
                                            <h5>Cloud Sales Executive, AMD</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-6.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"WITH MIKE USER-FRIENDLY CRM, OUR SALES TEAM CAN NOW WORK SMARTER, NOT HARDER.
                                        DEAL TRACKING, REPORTS, FORECASTING - IT'S ALL AUTOMATED AND ACCESSIBLE IN ONE
                                        PLACE."</p>
                                </div>
                            </li>
                        </ul>

                        <ul class="testimonial-anim-boxes testimonial2-anim-boxes">
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-4.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>Rick O'connell</h4>
                                            <h5>Gameplay Programmer, Microsoft</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-7.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"I was amazed by how intuitive and user-friendly everything felt. It's clear
                                        their designers obsess over every pixel, every transition, to create experiences
                                        that delight"</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-5.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>EDDIE BROCK</h4>
                                            <h5>Design Manager, HBO</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-6.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"I HIRED MECHEALE TO REDESIGN MY COMPANY'S WEBSITE. THE PROCESS WAS SMOOTH AND
                                        EASY. THEY LISTENED TO ALL MY NEEDS AND DELIVERED A SITE THAT EXCEEDED MY
                                        EXPECTATIONS"</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-6.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>ANNE WEYING</h4>
                                            <h5>Cloud Sales Executive, AMD</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-6.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"WITH MIKE USER-FRIENDLY CRM, OUR SALES TEAM CAN NOW WORK SMARTER, NOT HARDER.
                                        DEAL TRACKING, REPORTS, FORECASTING - IT'S ALL AUTOMATED AND ACCESSIBLE IN ONE
                                        PLACE."</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-4.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>Rick O'connell</h4>
                                            <h5>Gameplay Programmer, Microsoft</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-7.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"I was amazed by how intuitive and user-friendly everything felt. It's clear
                                        their designers obsess over every pixel, every transition, to create experiences
                                        that delight"</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-5.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>EDDIE BROCK</h4>
                                            <h5>Design Manager, HBO</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-5.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"I HIRED MECHEALE TO REDESIGN MY COMPANY'S WEBSITE. THE PROCESS WAS SMOOTH AND
                                        EASY. THEY LISTENED TO ALL MY NEEDS AND DELIVERED A SITE THAT EXCEEDED MY
                                        EXPECTATIONS"</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-6.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>ANNE WEYING</h4>
                                            <h5>Cloud Sales Executive, AMD</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-6.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"WITH MIKE USER-FRIENDLY CRM, OUR SALES TEAM CAN NOW WORK SMARTER, NOT HARDER.
                                        DEAL TRACKING, REPORTS, FORECASTING - IT'S ALL AUTOMATED AND ACCESSIBLE IN ONE
                                        PLACE."</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-4.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>Rick O'connell</h4>
                                            <h5>Gameplay Programmer, Microsoft</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-7.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"I was amazed by how intuitive and user-friendly everything felt. It's clear
                                        their designers obsess over every pixel, every transition, to create experiences
                                        that delight"</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-5.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>EDDIE BROCK</h4>
                                            <h5>Design Manager, HBO</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-5.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"I HIRED MECHEALE TO REDESIGN MY COMPANY'S WEBSITE. THE PROCESS WAS SMOOTH AND
                                        EASY. THEY LISTENED TO ALL MY NEEDS AND DELIVERED A SITE THAT EXCEEDED MY
                                        EXPECTATIONS"</p>
                                </div>
                            </li>
                            <li class="testimonial-box">
                                <div class="testimonial-header">

                                    <div class="testimonial-author-box">
                                        <img src="./assets/imgs/testimonial-6.png" alt="Testimonial">
                                        <div class="testimonial-author-content">
                                            <h4>ANNE WEYING</h4>
                                            <h5>Cloud Sales Executive, AMD</h5>
                                        </div>
                                    </div>
                                    <div class="testimonial-logo">
                                        <img src="./assets/imgs/dark-mode/partner-6.svg" alt="Logo">
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>"WITH MIKE USER-FRIENDLY CRM, OUR SALES TEAM CAN NOW WORK SMARTER, NOT HARDER.
                                        DEAL TRACKING, REPORTS, FORECASTING - IT'S ALL AUTOMATED AND ACCESSIBLE IN ONE
                                        PLACE."</p>
                                </div>
                            </li>
                        </ul>

                    </div>
                </section>
                <!-- ===== Testimonial End ===== -->